.container {
  height: 300px;
  width: 300px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 25px; 
}

.container img {
  width: 100%;
  /*adding effect*/
  transition: 0.5s all ease-in-out;
}

.container:hover img {
  /* applyng effect */
  transform: scale(1.5);
}